Flask==0.10.1
Flask-Login==0.3.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
argparse==1.2.1
itsdangerous==0.24
rauth==0.7.0
requests==2.4.3
tensorflow==2.6.0rc2
keras==2.6.0
WTForms==2.3.3
opencv-python==4.5.3.56
numpy==1.21.2
Flask-QRcode==3.0.0
socket-api2==0.0.6
zipfile36==0.1.3






