body{
    background-color: rgb(255, 255, 255);
}
.heading
{
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.932);
    color: rgb(0, 0, 0);
}
.heading-mark{
    color: rgb(2, 2, 2);
    font-weight: bold;
    padding: 3px;
;}