<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f3f3f3;
  }
  .drag-area{
    border: 2px dashed #0390f1;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
  .drag-area .icon{
    font-size: 100px;
    color: #fff;
  }
  .drag-area header{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  .drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
  }
  .drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #0390f1;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
</style>
<link rel="icon" href="{{url_for('.static',filename='favicon.png')}}" type="image/png"><!-- Font Awesome -->
<link rel="stylesheet" href="{{url_for('.static',filename ='all.min.css')}}">
<!-- Quick CSS -->
<link rel="stylesheet" href="{{url_for('.static',filename='quick-website.css')}}" id="stylesheet">
<!-- Docs CSS - used only for demo -->
<link rel="stylesheet" href="{{url_for('.static',filename='docs.css')}}" id="stylesheet">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover-min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    {{ fontawesome_html() }}


    <title>Online proctor</title>



</head>

<body>
  <header class="header" id="header-main">
    <!-- Main navbar -->
    <nav class="navbar navbar-main navbar-expand-lg fixed-top navbar-shadow navbar-light bg-white border-bottom" id="navbar-main">
        <div class="container-fluid justify-content-between">
            <!-- User's navbar -->
            <div class="navbar-user d-lg-none">
                <ul class="navbar-nav flex-row align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i data-feather="menu"></i></a>
                    </li>
                </ul>
            </div>
            <!-- Navbar brand -->
            <a class="navbar-brand" href="../docs/index.html">
                <img alt="Image placeholder" src="{{url_for('.static',filename='dark6.png')}}" id="navbar-logo" >
                <sup class="text-muted text-xs text-uppercase">FILE MANAGER</sup>
            </a>
            <!-- Live preview -->
            <ul class="navbar-nav flex-row align-items-center d-lg-none">
                <li class="nav-item">
                    <a href="../index.html" class="nav-link nav-link-icon"><i data-feather="eye"></i></a>
                </li>
            </ul>
            <!-- Navbar nav -->
            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <!-- Right menu -->
                <ul class="navbar-nav align-items-center mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/getting-started/quick-start.html"> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/components/alerts.html"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/webpixels/quick-website-ui-kit-demo/issues" target="_blank"></a>
                    </li>
                </ul>
            </div>
            <button class='btn btn-light mr-1' id = "view0_button" {{view0_button}}><i class="fas fa-th-large"></i></button >
              <button class='btn btn-light mr-3' id = "view1_button" {{view1_button}}><i class="fas fa-list"></i></button>
            <a href="/dashboard" class="btn btn-sm btn-primary ml-4 btn-icon d-none d-lg-inline-flex">
                <span class="btn-inner--icon"><i data-feather="chevron-left"></i></span>
                <span class="btn-inner--text">Go-Back</span>
            </a>
        </div>
    </nav>
</head
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
                <a class="navbar-brand hvr-shadow" href="/view"><h3>Online Proctor File Manger</h3></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto mt-2 mb-2 ">

                    <!-- <button class='btn btn-light mr-1' id = "view0_button" {{view0_button}}><i class="fas fa-th-large"></i></button >
                    <button class='btn btn-light' id = "view1_button" {{view1_button}}><i class="fas fa-list"></i></button>
                 -->

                      {% if favList %}

                      <form id = "uploadForm" class="md-form" action = "/upload/{{currentDir}}" method = "POST"  enctype = "multipart/form-data" style="display:none;">

                        <input style="color:white;" class ="btn btn-sm "  type="file" name = "files[]" multiple="true" >
                        <input class="btn btn-sm mr-4" type = "submit" value="Upload"/>
                    
                      </form>

                      <button id = "uploadButton" class="btn btn-sm mr-4 ml-4" style="margin-bottom:6px;margin-top:3px;">Upload</button>
                
                      {% endif %}
                   
                    

                               
                    {% for f in favList %}

                    {% set list1 = f.split('/') %}
        
                    <li class="nav-item">
                      <a class="nav-link active hvr-shadow mr-2" href="/files/{{f}}">{{list1[list1|length-1]}} <span class="sr-only">(current)</span></a>
                    </li>

                    {% endfor %}
                   
                            


                    {% if favList %}
                  

                    <!-- <li class="nav-item mr-4">
                      <a data-toggle="tooltip" data-placement="right" title="Download Folder" class="nav-link active hvr-shadow" href="/downloadFolder/{{currentDir}}"> <span class="fa fa-download"></span><span class="sr-only">(current)</span></a>
                  </li> -->
                  
                   

                 

                  
                    {% endif %}
                    
                   
                  </ul>
                </div>
              </nav>
              

      <div class = "container">
        <div class = "row">
          <div class = "col-12 lead mt-4" style="text-align: left; margin-bottom:-10px;">
            {% autoescape false %}
            {{currentDir_path}}
            
            {% endautoescape %}
            <!-- <a href = "/files/Users">Users</a><a href = "/files/Users/rehanahmed">rehanahmed</a><a href = "/files/Users/rehanahmed/Documents">Documents</a> -->
            <hr>
          </div>
        </div>
      </div>
              
    {% block content %} {% endblock %}
  <!-- Footer -->
  <div class="container pt-4">
    <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <!-- Theme's logo -->
            <a href="index.html">
            </a>
            <!-- Webpixels' mission -->
            <!-- Social -->
            <ul class="nav mt-4">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="https://dribbble.com/webpixels" target="_blank">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/webpixels" target="_blank">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/webpxs" target="_blank">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/webpixels" target="_blank">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
            <ul class="list-unstyled">
             
            </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
            <ul class="list-unstyled">
            </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
            <ul class="list-unstyled">
            </ul>
        </div>
    </div>
    <hr class="divider divider-fade divider-dark my-4">
    <div class="row align-items-center justify-content-md-between pb-4">
        <div class="col-md-6">
            <div class="copyright text-sm font-weight-bold text-center text-md-left">
                &copy; 2021 <a href="https://webpixels.io" class="font-weight-bold" target="_blank">Online Proctor</a>. All rights reserved
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Terms
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Privacy
                    </a>
                </li>
            >
            </ul>
        </div>
    </div>
</div>
</div>
</footer>
<!-- Core JS  -->
<script src="assets/libs/jquery/dist/jquery.min.js"></script>
<script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/libs/svg-injector/dist/svg-injector.min.js"></script>
<script src="assets/libs/feather-icons/dist/feather.min.js"></script>
<!-- Page JS -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1oALsXLX-XEh2iYbE8tOjxsdFNHE39WM"></script>
<!-- Quick JS -->
<script src="assets/js/quick-website.js"></script>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  $("#uploadButton").click(function(){
    document.getElementById('uploadForm').style.display="block";
    document.getElementById('uploadButton').style.display="none";
  })
</script>


<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})






$(function () {

 





			$('#view0_button').click(function () {
     
            $('#view1_container').css('display', 'none');
				    $('#view0_container').css('display', 'block');
            $('#view0_button').prop("disabled",true);
            $('#view1_button').prop("disabled",false);


            const Http = new XMLHttpRequest();
            const url='/changeView?view=0';
            Http.open("GET", url);
            Http.send();

  //           $.ajax({url: "/calc", success: function(result){
  // }});

        // $.ajax({
				// 	url: 'localhost:5000/api/changeView?view=0',

				// 	success: function (data) {
        //     $('#view1_container').css('display', 'none');
				//     $('#view0_container').css('display', 'block');
				// 	},
				// });
        
			});
      $('#view1_button').click(function () {
        $('#view0_container').css('display', 'none');
				$('#view1_container').css('display', 'block');
        $('#view1_button').prop("disabled",true);
        $('#view0_button').prop("disabled",false);


        const Http = new XMLHttpRequest();
        const url='/changeView?view=1';
        Http.open("GET", url);
        Http.send();
        // $.ajax({
				// 	url: '/api/changeView?view=1',

				// 	success: function (data) {
        //     $('#view1_container').css('display', 'none');
				//     $('#view0_container').css('display', 'block');
				// 	},

				// });
			});
});


</script>
</body>

</html>